body {
	font-family: Encode Sans, sans-serif;
	background: url("https://img2.cgtrader.com/items/641394/45a726bd4e/large/underwater-world-of-coral-and-aquatic-plants-animated-3d-model-animated-max.jpg");
	background-size: 120%;
	background-repeat: no-repeat;
	min-width: 1900px;

}